@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fondo general crema/beige */
  --color-bg: #F8F6F0; 
  /* Fondo de las tarjetas (apenas más claro que el fondo) */
  --color-surface: #FCFAF5; 
  
  /* Botón principal (Azul/Violeta oscuro del "ORDER NOW") */
  --color-primary: #383A59; 
  /* Botón secundario (Marrón del "Buy") */
  --color-secondary: #815B3A; 
  
  /* Textos */
  --color-text-main: #1A1A1A;
  --color-text-muted: #808080;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  /* Usaremos Poppins, que es la más parecida a la de la imagen */
  font-family: 'Poppins', sans-serif; 
}